<div class="m-5">
  <h5>Listagem de Filmes pelo JSON</h5>
  <table class="table">
    <thead>
      <tr>
        <th>
          Nome
        </th>
        <th>
          Ano
        </th>
        <th>
          Diretor
        </th>
        <th>
          Genero
        </th>
        <th>
          Descrição
        </th>
        <th>
          Poster
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let filme of filmes">
        <td>
          {{filme.nome}}
        </td>
        <td>
          {{filme.ano}}
        </td>
        <td>
          {{filme.diretor}}
        </td>
        <td>
          {{filme.genero}}
        </td>
        <td>
          {{filme.descricao}}
        </td>
        <td>
          <a href="{{filme.poster}}" target="_blank">Veja</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>